.DS_Store
t-few/.cache/
datasets_serialized/
helper/__pycache__/external_datasets_variables.cpython-310.pyc
helper/__pycache__/note_generator.cpython-310.pyc
helper/__pycache__/note_template.cpython-310.pyc
helper/__pycache__/preprocess.cpython-310.pyc
